.App {
    text-align: center;
}

.header {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}

.panel {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 5px auto;
    max-width: 340px;
}

.button {
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px 12px;
}

.board {
    border: 2px solid black;
    border-radius: 3px;
    display: inline-block
}

.row {
    margin-bottom: -4px;
}

.cell {
    background-color: #36bc56;
    border: 1px solid black;
    display: inline-block;
    height: 40px;
    width: 40px;
}

.chip {
    border-radius: 50%;
    display: none;
    height: 32px;
    width: 32px;
    margin: 3px;
}

.black {
    background-color: black;
    display: block;
}

.white {
    border: 1px solid black;
    background-color: white;
    display: block;
}

.right {
    justify-content: flex-end;
}

.winner {
    color: green;
    font-weight: bold;
}

.loser {
    color: red;
}